html, body{
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}

body{
    background-color: rgb(167, 124, 107);
}
.container{
    height: 500px;
    width: 400px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    background-color: blue;
}
button{
    height: 20px;
    width: 50px;
    background-color: orangered;
}
#player-2-rock, #player-2-scissors, #player-2-paper{
    position: relative;
    bottom: 0px;
}
#player-1-rock, #player-1-paper, #player-1-scissors{
    position: relative;
    transform: rotate(180deg);
    bottom: 10em;
    right: 5.8em;
}
img.player-1{
    position: relative;
    width: 150px;
    height: 150px;
    top: 1.7em;
    left: 5em;
}
.player-2{
    position: relative;
    top: 85px;
}
img.player-2{
    position: relative;
    width: 150px;
    height: 150px;
}
h2{
    position: absolute;
    left: 6.3em;
    top: 9em;
}
